@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
@font-face {
  font-family: '8bitOperatorPlus-Bold';
  src: url('https://deltarune.com/assets/fonts/8bitOperatorPlus-Bold.eot?#iefix') format('embedded-opentype'),  url('https://deltarune.com/assets/fonts/8bitOperatorPlus-Bold.woff') format('woff'), url('https://deltarune.com/assets/fonts/8bitOperatorPlus-Bold.ttf')  format('truetype'), url('https://deltarune.com/assets/fonts/8bitOperatorPlus-Bold.svg#8bitOperatorPlus-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: '8bitOperatorPlus-Regular';
  src: url('https://deltarune.com/assets/fonts/8bitOperatorPlus-Regular.eot?#iefix') format('embedded-opentype'),  url('https://deltarune.com/assets/fonts/8bitOperatorPlus-Regular.woff') format('woff'), url('https://deltarune.com/assets/fonts/8bitOperatorPlus-Regular.ttf')  format('truetype'), url('https://deltarune.com/assets/fonts/8bitOperatorPlus-Regular.svg#8bitOperatorPlus-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@keyframes shakyanim {
  0% { transform: translate(1px, 1px); }
  10% { transform: translate(-1px, -1px); }
  20% { transform: translate(-1px, 0px); }
  30% { transform: translate(0px, 1px); }
  40% { transform: translate(1px, -1px); }
  50% { transform: translate(-1px, 1px); }
  60% { transform: translate(0px, 1px); }
  70% { transform: translate(1px, 1px); }
  80% { transform: translate(-1px, -1px); }
  90% { transform: translate(1px, 1px); }
  100% { transform: translate(1px, -1px); }
}
.shaky {
  animation: shakyanim 0.8s steps(1, end) infinite;
}
.shakier {
  animation: shakyanim 0.4s steps(1, end) infinite;
}
.shakiest {
  animation: shakyanim 0.2s steps(1, end) infinite;
}
html {
  font-family: '8bitOperatorPlus-Bold';
  background-color: black;
}
h1, h2, h3, h4, p, div {
  font-family: '8bitOperatorPlus-Bold';
  text-align: center;
  color: white;
}
span {
  font-family: '8bitOperatorPlus-Bold';
  text-align: center;
  display: inline-block;
  color: inherit;
}
.hover-red {
  color: white;
}
.hover-red:hover {
  color: red;
}
